a{
    text-decoration: none;
    cursor:pointer;
    position: relative
}

* {
    @include reset;
}
h2{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

img{
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    user-select: none;
 
    height: auto;
}
li{
    list-style-type: none;
}

button{
    border: none;
    outline: none;
    cursor: pointer;
}

*, *:before, *:after {
    box-sizing: border-box;
  }
  input{
    border: none;
    outline: none;
  }


//   .slider_img {
//     // border: 1px solid red;
//     height: 450px;
//     img {
//         // height:// 420px;yy
//         width: 100%;
//         height: 100% ;
//     }
// }