

.swiper-slide {
    display: flex;
    background-color: $white_color;
  }
  
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .swiper{

    overflow: scroll;
  
  }
  
  
  