// colors
$white_smoke: whitesmoke;
$white_color: white;
$black_color: black;
$blue_color: #1478C2;
$green_color: #44b902;
$grey_color: rgb(83, 83, 83);
$blue_trans:#1477c2b2;
$bg_color: #023ea0ea;

// width
$margin_width: 85%;


$bodyBackground: whitesmoke;
$blackColor: #35373B;
$whiteColor: white;
$blueColor: #2A4F8B;
$yellowColor: #023ea0ea;
$grayColor:grey;



// font-weigt

$font-bold-0:400;
$font-bold-1:bold;
$font-bold-3:800;

// font sizes

$font-size-xs: inherit;
$font-size-sm:0.8rem;
$font-size-md:1.7rem;
$font-size-lg:2.2rem;
$font-size-xl:4rem;

// border radius;

$border-radius-xs: 5px;
$border-radius-sm: 10px;
$border-radius-xl: 50%;

// width
$blendWIdth: 95%;

// box-shadow
$box-shadow-1:0px 0px 5px rgba(0,0,0, .50)